table {
  border-collapse: collapse;
  border: 2px solid black;
  display: inline-table; 
}

th, td {
  border: 1px solid black;
  padding: 4px 8px; 
  text-align: left;
  white-space: nowrap; 
}

th {
  font-weight: bold;
}

